<div id="easylockdown-password-form" style="display: none;">
<header class="section-header
    parallax-element
    section-header--image
    javascript-load-image"
    numBlocks="1"
      {% assign placement = forloop.index  %}

        {% for y in (8..12) %}
          {% assign imageSize = y | times: 100 | downcase | append: 'x'  %}
          backgroundimagesrc{{ y | times: 100 }}="{{settings.easylockdownTopImage | img_url: imageSize }}"

        {% endfor %}>
    <div class="text-wrapper--center-cell text-max-width">
        <div class="text-wrapper--small text-center">
            <h1 class="section-header__title text-center"></h1>
        </div>
    </div>
</header>
  <div class="grid--product-wrapper">
    <div class="grid blendting101-wrapper" >
      <div class="grid__item large--one-half medium--one-half blending101-margin">
        <div id="easylockdown-wrapper">
          {{ easylockdownPasswordNote }}
        </div>
      <div class="easylockdown-form-holder" style="width:100%;">
        <div id="easylockdown-password-error">Invalid password</div>
        <div style="width:100%;">
        <input style="width:100%;" type="password" placeholder="{{ easylockdownPasswordPlaceholder }}" id="easylockdown-password"
               onkeypress="if( event.keyCode == 13 && typeof easylockdown == 'object' && typeof easylockdown.checkUnlockPassword == 'function' ) { event.preventDefault(); easylockdown.checkUnlockPassword(this); }" />
        </div>
        <div class="blending101-button">
        <a href="javascript:void(0);" class="btn btn--small" id="easylockdown-password-form-button" style="background-color: #ea002a;"
           onclick="if( typeof easylockdown == 'object' && typeof easylockdown.checkUnlockPassword == 'function' ) easylockdown.checkUnlockPassword(this);">
          Login
        </a>
        </div>
      </div>
      </div>
      <div class="grid__item large--one-half medium--one-half blending101-margin ">
        <img class="javascript-load-image" style="width:100%;"
            {% for y in (3..8) %}
              {% assign imageSize = y | times: 100 | downcase | append: 'x'  %}
              imagebasesrc{{ y | times: 100 }}="{{settings.easylockdownSideImage | img_url: imageSize }}"

            {% endfor %}>
      </div>
    </div>
  </div>
</div>
