<hr class="hr-no-margin">

{% if features_sub_title %}
{% assign alignmentCounter = alignmentCounter | plus: 1 %}
{% assign alignmentModulo = alignmentCounter | modulo: 2 %}
<div class="grid">
  {% if features_sub_image and alignmentModulo == 1 %}
  <div class="grid__item large--one-half medium--one-half">
  	<img style="width:100%" src="{{ settings['metafield_buckets'] }}{{ features_sub_image | remove: settings['metafield_buckets_src'] }}">
  </div>
  {% endif %}
  <div class="grid__item large--one-half medium--one-half tabs-margin-div">
    <h4 class="colorBlack">{{ features_sub_title }}</h4>
    <hr class="red-hr">

  	{{ features_sub_text }}

  </div>
  {% if features_sub_image and alignmentModulo == 0 %}
  <div class="grid__item large--one-half medium--one-half">
  	<img style="width:100%" src="{{ settings['metafield_buckets'] }}{{ features_sub_image | remove: settings['metafield_buckets_src'] }}">
  </div>
  {% endif %}
</div>
{% endif %}