<div class="flyout">
  <ul class="clearfix">
      <li class="">
        <a style="cursor:pointer;" onclick="window.open('https://home-c19.incontact.com/inContact/ChatClient/ChatClient.aspx?poc=85fda090-bbef-4d11-aecd-83b1eb016e74&amp;bu=4595702','popup','height=450, width=500, left =' + window.screenX + ', top =' + window.screenY);">
        <svg style="height:20px;width:20px;margin-bottom:-5px;" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.0" width="299.99649" height="225.92412" viewBox="0 0 85.704 64.542" id="Layer_1" xml:space="preserve"><defs id="defs8"/>
        <g transform="matrix(0.9486962,0,0,0.9486962,2.4834364,1.8361818)" id="g3">
          <path d="M 45.673,0 C 67.781,0 85.703,12.475 85.703,27.862 C 85.703,43.249 67.781,55.724 45.673,55.724 C 38.742,55.724 32.224,54.497 26.539,52.34 C 15.319,56.564 0,64.542 0,64.542 C 0,64.542 9.989,58.887 14.107,52.021 C 15.159,50.266 15.775,48.426 16.128,46.659 C 9.618,41.704 5.643,35.106 5.643,27.862 C 5.643,12.475 23.565,0 45.673,0 M 45.673,2.22 C 24.824,2.22 7.862,13.723 7.862,27.863 C 7.862,34.129 11.275,40.177 17.472,44.893 L 18.576,45.734 L 18.305,47.094 C 17.86,49.324 17.088,51.366 16.011,53.163 C 15.67,53.73 15.294,54.29 14.891,54.837 C 18.516,53.191 22.312,51.561 25.757,50.264 L 26.542,49.968 L 27.327,50.266 C 32.911,52.385 39.255,53.505 45.673,53.505 C 66.522,53.505 83.484,42.002 83.484,27.862 C 83.484,13.722 66.522,2.22 45.673,2.22 L 45.673,2.22 z " id="path5"/>
        </g></svg>
          Chat
        </a>
      </li>
    {% assign mainMenu = section.settings.nav_linklist %}
    {% for link in linklists[mainMenu].links %}
    {% if linklists[link.handle] == empty %}
    <li>
      <a href="{{ link.url }}" class="{% if link.active %} current{% endif %} navlink"><span>{{ link.title }}</span></a>
    </li>
    {% else %}
    <li>
    <span class="more"><i class="fa fa-plus"></i></span>
      <a href="{{ link.url }}" class="{% if link.active %} current{% endif %} navlink"><span>{{ link.title }}</span></a>
      <ul class="sub-menu">
        {% for l in linklists[link.handle].links %}
        <li><a href="{{ l.url }}" class="{% if l.active %}current {% endif %}{% if forloop.last %} last {% endif %}   navlink">{{ l.title }}</a></li>
        {% endfor %}
      </ul>
    </li>
    {% endif %}
    {% endfor %}

    {% if shop.customer_accounts_enabled %}
      {% if customer  %}
        <li class="customer-links"><a href="/account">{{ 'layout.customer.your_account' | t }}</a></li>
      {% else %}
        <li class="customer-links">{{ 'layout.customer.login' | t | customer_login_link }}</li>
        <li class="customer-links">{{ 'layout.customer.create_account' | t | customer_register_link }}</li>
      {% endif %}
    {% endif %}

    <li class="search-field">
      <form class="search" action="/search" id="search">
        <input type="image" src="{{ 'icon-search.png' | asset_url }}" alt="Go" id="go" class="go" />
        <input type="text" name="q" class="search_box" placeholder="{{ 'layout.header.search' | t }}" value="{{ search.  terms }}" />
      </form>
    </li>
  </ul>
</div>
