<header class="section-header
    parallax-element
    section-header--image" style="background-image: url({{ section.settings.background-404 | img_url: 'master' }})">
    <div class="text-wrapper--center-cell text-max-width">
        <div class="text-wrapper--small text-center">
            <h1 class="section-header__title text-center">{{ 'general.404.title' | t }}</h1>
        </div>
    </div>
</header>
<div class="grid error-message-wrapper">
    <div class="grid__item small--show medium--hide large--hide">
        <span class="custom-title">{{ section.settings.errorTitle }}</span>
        <div class="line"></div>
        <div style="margin-top:15px;">
            {{ section.settings.errorMessage }}
        </div>
    </div>
    <div class="grid__item large--one-third medium--one-third margin-adjustment">
        {% assign customNav = 'looking-for-this' %} {% include 'custom-nav' %}
    </div>
    <div class="grid__item large--two-thirds medium--two-thirds small--hide margin-adjustment">
        <span class="custom-title">{{ section.settings.errorTitle }}</span>
        <div class="line"></div>
        <div style="margin-top:15px;">
            {{ section.settings.errorMessage }}
        </div>
    </div>
</div>

{% schema %}
{
   "name":"404-page",
   "class":"page404",
   "settings":[
      {
         "type":"image_picker",
         "id":"background-404",
         "label":"Section Background Image",
         "info":"This is the background image for the section"
      },
      {
         "type":"text",
         "id":"errorMessage",
         "label":"Error Message",
         "default":"We can't seem to find the page you entered. One of these links may help you get back on track."
      },
      {
         "type":"text",
         "id":"errorTitle",
         "label":"Error Message Title",
         "default":"ERROR: 404"
      }
   ],
   "blocks":[

   ],
   "presets":[

   ]
}
{% endschema %}