<!-- /templates/blog.liquid -->
        {% paginate blog.articles by 12 %}
        {% comment %}
        This template is also used for listing out articles of a specific tag.
        You can change layouts or styles by checking if current_tags is true.
        {% endcomment %}
<div class="grid--full">
    <header class="section-header"
            {% if section.settings.header_img != '' %}
                style="background-image: url({{ section.settings.header_img | img_url: '1440x'}})"
                section-header--image
            {% endif %}>
    </header>
    <div class="grid__item large--two-thirds push--large--one-sixth">
        <div class="text-center content-wrapper--horizontal section-header">
            <div class="display-table-cell">
                {% if current_tags %}
                <h1>{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}
                    <a href="{{blog.url}}.atom">
                        <span aria-hidden="true" class='icon icon-rss'></span>
                    </a>
                </h1>
                {% else %}
                <h1>{{ blog.title }}
                    <a href="{{blog.url}}.atom">
                        <span aria-hidden="true" class='icon icon-rss'></span>
                    </a>
                </h1>
                {% endif %}
                {% include 'breadcrumb' %}
            </div>
        </div>
    </div>
    <div class="grid__item grid--full large--one-whole" data-grid-subpixel itemscope itemtype="http://schema.org/ItemList">
        {% comment %}
        Loop through each article in your blog. This is limited to what you set for pagination above.

        For more info on article liquid tags:
        - http://docs.shopify.com/themes/liquid-variables/article
        {% endcomment %}
        {% for article in blog.articles %}
        <meta itemprop="position" content="{{forloop.index0}}" />
        {% assign remainder = forloop.index0 | modulo:3 %}

        {% if article.image.size >= 1 %}
        {% assign src = article.image | img_url: 'master' %}
        {% else %}
        {% assign src = false %}
        {% endif %}

        <div class="grid__item large--one-third medium--one-half small--one-whole" data-grid-item itemprop="itemListElement" itemscope itemtype="http://schema.org/Article">
            {% if src %}
            <a itemprop="url" href="{{article.url}}">
                <div class="featured-blog__image-wrapper">
                    <div class='featured-blog__image'>
                <span class="image-wrapper" itemprop="image">
                  {{ src | img_tag }}
                </span>
                    </div>
                </div>
            </a>
            {% endif %}
            <div class="featured-blog__caption small--text-center text-wrapper">
                <p class="meta-info" itemprop="datePublished">{{article.published_at | date: "%B %d, %Y"  }}</p>
                <a  itemprop="url" href="{{article.url}}"><h4 class='featured-blog__title' itemprop="name">{{article.title}}</h4></a>

                {% if section.settings.enable_blog_author %}
                <p class="author" itemprop="author">{{'blogs.article.author_by_html' | t: author : article.author }}</p>
                {% endif %}

                <span class="excerpt">
                  {{article.excerpt_or_content}}
              </span>

                <p class='blog-info'><a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a></p>
                <ul class="inline-list blog-info">
                    {% if blog.comments_enabled? %}
                    <li>
                        <a href="{{ article.url }}#Comments">
                            {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <span class="blog-info" itemprop="keywords">{% include 'tags-article' %}</span>
            </div>
        </div>
        {% if remainder == 2 %}
        {% comment %}We want to manually break rows after 3.{% endcomment %}
        <div class="clearfix medium-down--hide"></div>
        {% endif %}
        {% endfor %}
        {% if paginate.pages > 1 %}
        <hr>
        <div class="pagination">
            {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
        </div>
        {% endif %}
    </div>
</div>
{% endpaginate %}

{% schema %}
{
   "name": "Blog",
    "settings": [{
        "type": "checkbox",
        "id": "enable_blog_author",
        "default": false,
        "label": "Show author"
    },
    {
    "type": "image_picker",
    "id": "header_img",
    "label": "Header Image"
    },
    {
    "type": "select",
    "id": "color_overlay_opacity",
    "default": "0.8",
    "label": "Overlay opacity",
    "options": [
    {
    "value": "0",
    "label": "Off"
    },
    {
    "value": "0.1",
    "label": "10%"
    },
    {
    "value": "0.2",
    "label": "20%"
    },
    {
    "value": "0.3",
    "label": "30%"
    },
    {
    "value": "0.4",
    "label": "40%"
    },
    {
    "value": "0.5",
    "label": "50%"
    },
    {
    "value": "0.6",
    "label": "60%"
    },
    {
    "value": "0.7",
    "label": "70%"
    },
    {
    "value": "0.8",
    "label": "80%"
    },
    {
    "value": "0.9",
    "label": "90%"
    },
    {
    "value": "1",
    "label": "100%"
    }
    ]
    },
    {
    "type": "color",
    "id": "color_overlay_color",
    "default": "#031207",
    "label": "Overlay color"
    },
    {
    "type": "color",
    "id": "color_text",
    "default": "#FFFFFF",
    "label": "Text color"
    }
    ]
}
{% endschema %}
