<div class="bt-featured-collection">

    <div class="grid" style="padding-top:25%;padding-bottom:2%; ">
        <hr>
    </div>
    <div class="blenders-bottom-background bottom-blenders-wrapper javascript-load-image"
         backgroundimagesrc300="{{ section.settings.background_image2 | img_url: '300x' }}">
        <div class="grid " style="padding-bottom:50px;">
            <div class="grid__item large--one-third medium--one-third bottom-blender">
                <div>
                    <h3 class="heavy">{{ section.settings.blender1_title }}</h3>
                    <div class="br-gradient-grey"></div>
                    <div class="grid">
                        <div class="grid__item large--one-half description-text">
                            <div>
                                {{ section.settings.blender1_text }}
                            </div>
                            <a href="{{ section.settings.blender1_link }}" class="btn btn--small">SHOP</a>
                        </div>
                        <div class="grid__item large--one-half">
                            <img class=" javascript-load-image" style="width:100%"
                                    {% for y in (3..12) %}
                                        {% assign imageSize = y | times: 50 | downcase | append: 'x' %}
                                        imagebasesrc{{ y | times: 50 }}="{{ section.settings.bottom_blender1 | img_url: imageSize }}"
                                    {% endfor %}
                            >
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid__item large--one-third medium--one-third bottom-blender">
                <h3 class="heavy">{{ section.settings.blender2_title }}</h3>
                <div class="br-gradient-silver"></div>
                <div class="grid">
                    <div class="grid__item large--one-half description-text">
                        <div>
                            {{ section.settings.blender2_text }}
                        </div>
                        <a href="{{ section.settings.blender2_link }}" class="btn btn--small">SHOP</a>
                    </div>
                    <div class="grid__item large--one-half">
                        <img class=" javascript-load-image" style="width:100%"
                                {% for y in (3..12) %}
                                    {% assign imageSize = y | times: 50 | downcase | append: 'x' %}
                                    imagebasesrc{{ y | times: 50 }}="{{ section.settings.bottom_blender2 | img_url: imageSize }}"
                                {% endfor %}
                        >
                    </div>
                </div>
            </div>
            <div class="grid__item large--one-third medium--one-third bottom-blender">
                <h3 class="heavy">{{ section.settings.blender3_title }}</h3>
                <div class="br-gradient-gold"></div>
                <div class="grid">
                    <div class="grid__item large--one-half description-text">
                        <div>
                            {{ section.settings.blender3_text }}
                        </div>
                        <a href="{{ section.settings.blender3_link }}" class="btn btn--small ">SHOP</a>
                    </div>
                    <div class="grid__item large--one-half">
                        <img class=" javascript-load-image" style="width:100%"
                                {% for y in (3..12) %}
                                    {% assign imageSize = y | times: 50 | downcase | append: 'x' %}
                                    imagebasesrc{{ y | times: 50 }}="{{ section.settings.bottom_blender3 | img_url: imageSize }}"
                                {% endfor %}
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ 'autofit_images.js' | asset_url | script_tag }}

{% schema %}
    {
    "name":"bt-featured-collection",
    "class":"bt-featured-collection",
    "max_blocks":1,
    "settings":[
    {
    "type":"image_picker",
    "id":"bottom_blender1",
    "label":"Bottom Blender 1",
    "info":"1st Blender Image on Bottom of Section"
    },
    {
    "type":"text",
    "id":"blender1_title",
    "label":"Blender 1 title",
    "default":"DESIGNER"
    },
    {
    "type":"text",
    "id":"blender1_text",
    "label":"Blender 1 text",
    "default":"Donec dolor est, siscipit ac consectetur at, secipit ac sem. Vivamus nec urna eu nisi venenatis facilisis. Fisce vitae efficitur ligula."
    },
    {
    "type": "url",
    "id": "blender1_link",
    "label": "Blender 1 Link"
    },
    {
    "type":"image_picker",
    "id":"bottom_blender2",
    "label":"Bottom Blender ",
    "info":"2nd Blender Image on Bottom of Section"
    },
    {
    "type":"text",
    "id":"blender2_title",
    "label":"Blender 2 title",
    "default":"PRO"
    },
    {
    "type":"text",
    "id":"blender2_text",
    "label":"Blender 2 text",
    "default":"Donec dolor est, siscipit ac consectetur at, secipit ac sem. Vivamus nec urna eu nisi venenatis facilisis. Fisce vitae efficitur ligula."
    },
    {
    "type": "url",
    "id": "blender2_link",
    "label": "Blender 2 Link"
    },
    {
    "type":"image_picker",
    "id":"bottom_blender3",
    "label":"Bottom Blender 3",
    "info":"3rd Blender Image on Bottom of Section"
    },
    {
    "type":"text",
    "id":"blender3_title",
    "label":"Blender 3 title",
    "default":"CLASSIC"
    },
    {
    "type":"text",
    "id":"blender3_text",
    "label":"Blender 3 text",
    "default":"Donec dolor est, siscipit ac consectetur at, secipit ac sem. Vivamus nec urna eu nisi venenatis facilisis. Fisce vitae efficitur ligula."
    },
    {
    "type": "url",
    "id": "blender3_link",
    "label": "Blender 3 Link"
    },
    {
    "type":"image_picker",
    "id":"background_image2",
    "label":"Background Image",
    "info":"The background image for the blenders"
    }
    ],
    "blocks":[
    ],
    "presets": [
    {
    "name": "bt-featured-collection",
    "category": "Image"
    }
    ]
    }
{% endschema %}