<div class="section-background javascript-load-image"
        numBlocks="{{section.blocks.size}}"
        typeImage="backgroundimagesrc"
        tieTextClass="show-block-"
        {% for i in section.blocks %}

          {% assign placement = forloop.index  %}

            {% for y in (8..12) %}
              {% assign imageSize = y | times: 100 | downcase | append: 'x'  %}
              {{placement}}backgroundimagesrc{{ y | times: 100 }}="{{i.settings.blender_background_image | img_url: imageSize }}"

            {% endfor %}

        {% endfor %}
>
<div class="">
    <div class="grid" style="padding-top:130px;">
        <div class="grid__item large--one-twelfth medium--one-twelfth small--one-twelfth"></div>
        <div style="max-width:970px;" class="small-left-padding grid__item large--five-sixths medium--five-sixths small--ten-twelfths">
            {% for i in section.blocks %}
                <div class="show-block-{{forloop.index}}" style="display:none;">
                    <h4 class="h4-subhead" style="color:{{i.settings.h4_subhead_color}}">{{i.settings.h4_subhead}}</h4>
                    <h3 class="h3-subhead" style="color:{{i.settings.h3_headline_color}}">{{i.settings.h3_headline}}</h3>
                    <div class="" style="margin-top:15px;color:{{i.settings.descriptive_title_top_color}}">{{i.settings.descriptive_title_top}}</div>
                    <div style="margin-top:30px;">
                    {% include 'cta-button' with text: i.settings.section3_top_button, url: i.settings.section3_top_button_link%}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="gradient-black-background"></div>
<div class="bt-third">

<div class="black-background">
<div class="section3-text-container">
     <div style="padding-top:150px;" class="grid blender-text-descriptor-wrapper">
     <div class="grid__item large--one-twelfth medium--one-twelfth small--one-twelfth"></div>
    <div class="grid__item large--one-sixth medium--one-third small--two-thirds">
    {% for i in section.blocks %}
      <div class="show-block-{{forloop.index}}" style="display:none;">
        <h4 style="color:{{i.settings.info_topleft_title_color}}" class="blender-text-descriptor-title">{{i.settings.info_topleft_title}}</h4>
        <hr class="red-hr"/>
        <div class="jar-description" style="color:{{i.settings.info_topleft_text_color}}">{{i.settings.info_topleft_text}}</div>
      </div>
      {% endfor %}
    </div>
     </div>
     <div style="margin-top:25px;" class="grid blender-text-descriptor-wrapper">
    <div class="grid__item large--nine-twelfths medium--two-thirds small--one-twelfth"></div>
    <div class="grid__item large--one-sixth medium--one-third small--two-thirds">
    {% for i in section.blocks %}
      <div class="show-block-{{forloop.index}}" style="display:none;">
        <h4 style="color:{{i.settings.info_topright_title_color}}" class="blender-text-descriptor-title">{{i.settings.info_topright_title}}</h4>
        <hr class="red-hr">
        <div class="jar-description" style="color:{{i.settings.info_topright_text_color}}">{{i.settings.info_topright_text}}</div>
      </div>
      {% endfor %}
    </div>
    </div>
     <div style="margin-top:25px;" class="grid blender-text-descriptor-wrapper">
     <div class="grid__item large--one-twelfth medium--one-twelfth small--one-twelfth"></div>
    <div class="grid__item large--one-sixth medium--one-third small--two-thirds">
    {% for i in section.blocks %}
      <div class="show-block-{{forloop.index}}" style="display:none;">
      <h4 style="color:{{i.settings.info_midleft_title_color}}" class="blender-text-descriptor-title">{{i.settings.info_midleft_title}}</h4>
      <hr class="red-hr">
      <div class="jar-description" style="color: {{i.settings.info_midleft_text_color}}">{{i.settings.info_midleft_text}}</div>
      </div>
      {% endfor %}
    </div>
     </div>
     <div class="grid blender-image-container">

      <div class="grid__item background-blotch">
        <img class="blender-image javascript-load-image"
        numBlocks="{{section.blocks.size}}"
        typeImage="imagebasesrc"
        {% for i in section.blocks %}

          {% assign placement = forloop.index  %}

            {% for y in (3..8) %}
              {% assign imageSize = y | times: 100 | downcase | append: 'x'  %}
              {{placement}}imagebasesrc{{ y | times: 100 }}="{{i.settings.blender_image | img_url: imageSize }}"

            {% endfor %}

        {% endfor %}>


      </div>
     </div>
     <div style="margin-top:25px;" class="grid blender-text-descriptor-wrapper">
     <div class="grid__item large--nine-twelfths medium--two-thirds small--one-twelfth"></div>
    <div class="grid__item large--one-sixth medium--one-third small--two-thirds">
    {% for i in section.blocks %}
      <div class="show-block-{{forloop.index}}" style="display:none;">
      <h4 style="color:{{i.settings.info_bottomright_title_color}}" class="blender-text-descriptor-title">{{i.settings.info_bottomright_title}}</h4>
      <hr class="red-hr">
      <div style="color:{{i.settings.info_bottomright_text_color}}" class="jar-description">{{i.settings.info_bottomright_text}}</div>
      </div>
      {% endfor %}
    </div>
     </div>
     <div style="margin-top:25px;padding-bottom:50px;" class="grid blender-text-descriptor-wrapper">
     <div class="grid__item large--one-twelfth medium--one-twelfth small--one-twelfth"></div>
    <div class="grid__item large--one-sixth medium--one-third small--two-thirds">
    {% for i in section.blocks %}
      <div class="show-block-{{forloop.index}}" style="display:none;">
        <h4 style="color:{{i.settings.info_bottomleft_title_color}}" class="blender-text-descriptor-title">{{i.settings.info_bottomleft_title}}</h4>
        <hr class="red-hr">
        <div style="color:{{i.settings.info_bottomleft_text_color}}" class="jar-description">{{i.settings.info_bottomleft_text}}</div>
      </div>
    {% endfor %}
    </div>
     </div>
</div>
</div>

</div>
</div>
  <style>
  .bt-featured-product-lrg {
    background-color:transparent !important;
    margin-top:-5.1%;
  }
  .black-background{
      width: 100%;
      position:relative;
      z-index:0;
  }
  .section3-text-container{
      z-index: 10;
      position: relative;
  }
  .red-hr{
    border-color:#f41d2f;
    margin:5px 0px 10px 0px;
    width:50px;
    border-width: 3px 0 0;
  }
  .jar-description{
    opacity: 0.7;
    line-height:24px;
    color:white;
    font-size:18px;
  }
  .blender-text-descriptor-title{
    color:white;
    margin-bottom:0px;
    font-size:26px;
  }
  .blender-image-container{
      position: absolute;
      top: 50px;
      width: 100%;
      z-index: 1;
  }
  .blender-text-descriptor-wrapper{
    z-index:2;
    position:relative;
  }
  .blender-image{
    width: 99%;
      max-width: 613px !important;
      margin: 0 auto;
      display: block;
  }
  .bt-third{
      background-size: cover;
      background-repeat: no-repeat;
  }

  .wavy-background{
      height:349px;
      position:relative;
      z-index:1;
  }

  .h4-subhead{
    font-size:26px;
    font-family: 'CooperHewitt-Bold';
  }
  .h3-subhead{
      font-size: 60px;
      line-height: 80px;
      margin-top:-15px;
  }

  .section-background {
    background-size:cover;
    background-repeat:no-repeat;
    padding-top: 68px;
  }

  @media screen and (max-width: 848px) {

      .small-left-padding{
          padding-left:45px;
      }
      .blender-image-container{
        position:static;
      }
  }

    .gradient-black-background{
      width: 100%;
      height: {{section.settings.black_background_height}}px;
      margin-top: -{{section.settings.black_background_height}}px;;
    }
</style>


{% schema %}
{
    "name":"bt-featured-product-lrg",
    "class":"bt-featured-product-lrg",
    "max_blocks":9,
    "settings":[{
        "type":      "range",
        "id":        "black_background_height",
        "min":       200,
        "max":        300,
        "step":       1,
        "unit":       "px",
        "label":     "Height of Background",
        "default":   200
    }],
    "blocks":[{
        "type":"header",
        "name":"bt-featured-product-lrg",
        "settings":[{
            "type":"text",
            "id":"section3_top_button",
            "label":"Section 3 Top Button Text",
            "default":"SHOP BLENDERS"
        },
        {
            "type": "url",
            "id": "section3_top_button_link",
            "label": "Top Button Link"
        },
        {
            "type":"text",
            "id":"h4_subhead",
            "label":"Subheading Text",
            "default":"DRVEN"
        },
        {
            "type": "color",
            "id": "h4_subhead_color",
            "label": "Subheading Color",
            "default": "#ffffff"
        },
        {
            "type":"text",
            "id":"h3_headline",
            "label":"Headline Text",
            "default":"POWER THROUGH <br>ANYTHING"
        },
        {
            "type": "color",
            "id": "h3_headline_color",
            "label": "Headline Color",
            "default": "#ffffff"
        },
        {
            "type":"text",
            "id":"descriptive_title_top",
            "label":"Descriptive Title"
        },
        {
            "type": "color",
            "id": "descriptive_title_top_color",
            "label": "Descriptive Title Color",
            "default": "#ffffff"
        },
        {
            "type":"image_picker",
            "id":"blender_image",
            "label":"Blender Image",
            "info":"Blender image"
        },
        {
            "type":"image_picker",
            "id":"blender_background_image",
            "label":"Blender Background Image",
            "info":"The image which appears behind the main blender image"
        },
        {
            "type":"text",
            "id":"info_topleft_title",
            "label":"Blender Info top left title",
            "default":"LID"
        },
        {
            "type": "color",
            "id": "info_topleft_title_color",
            "label": "Blender info top left title color",
            "default": "#ffffff"
        },
        {
            "type":"text",
            "id":"info_topleft_text",
            "label":"Blender Info top left text",
            "default":"Donec dolor est, suscipit ac velor alle consect at, alor disict suscipit ac sem."
        },
        {
            "type": "color",
            "id": "info_topleft_text_color",
            "label": "Blender Info top left text color",
            "default": "#ffffff"
        },
        {
            "type":"text",
            "id":"info_topright_title",
            "label":"Blender Info Top Right title",
            "default":"JAR"
        },
        {
            "type": "color",
            "id": "info_topright_title_color",
            "label":"Blender info top right title color",
            "default": "#ffffff"
        },
        {
            "type":"text",
            "id":"info_topright_text",
            "label":"Blender Info Top Right text",
            "default":"Donec dolor est, suscipit ac consectetur at, suscipit ac sem. Vivamus nec urna eu nisi venenatis facilisis. Fusce vitae efficitur ligula."
        },
        {
            "type": "color",
            "id": "info_topright_text_color",
            "label":"Blender info top right text color",
            "default": "#ffffff"
        },
        {
            "type":"text",
            "id":"info_midleft_title",
            "label":"Blender info mid left title",
            "default":"SHAPE"
        },
        {
            "type": "color",
            "id": "info_midleft_title_color",
            "label":"Blender info mid left title",
            "default": "#ffffff"
        },
        {
            "type":"text",
            "id":"info_midleft_text",
            "label":"Blender info mid left text",
            "default":"Donec dolor est, suscipit ac velor alle consect at, alor disict suscipit ac sem."
        },
        {
            "type": "color",
            "id":"info_midleft_text_color",
            "label":"Blender info mid left text color",
            "default": "#ffffff"
        },
        {
            "type":"text",
            "id":"info_bottomright_title",
            "label":"Blender info mid left title",
            "default":"BLADE"
        },
        {
            "type": "color",
            "id":"info_bottomright_title_color",
            "label":"Blender info mid left title color",
            "default": "#ffffff"
        },
        {
            "type":"text",
            "id":"info_bottomright_text",
            "label":"Blender info mid left text",
            "default":"Donec dolor est, suscipit ac velor alle consect at, alor disict suscipit ac sem."
        },
        {
            "type": "color",
            "id":"info_bottomright_text_color",
            "label":"Blender info mid left text color",
            "default": "#ffffff"
        },
        {
            "type":"text",
            "id":"info_bottomleft_title",
            "label":"Blender info mid left title",
            "default":"MOTOR"
        },
        {
            "type": "color",
            "id":"info_bottomleft_title_color",
            "label":"Blender info mid left text color",
            "default": "#ffffff"
        },
        {
            "type":"text",
            "id":"info_bottomleft_text",
            "label":"Blender info mid left text",
            "default":"Donec dolor est, suscipit ac velor alle consect at, alor disict suscipit ac sem."
        },
        {
            "type": "color",
            "id":"info_bottomleft_text_color",
            "label":"Blender info mid left text color",
            "default": "#ffffff"
        }]
}
],
    "presets": [
      {
        "name": "bt-featured-product-lrg",
        "category": "Image"
      }
    ]
}
{% endschema %}