<div class="bt-testimonial-brands javascript-load-image"  backgroundimagesrc1200="{{section.settings.section5_background | img_url: '1200x' }}" backgroundimagesrc900="{{section.settings.section5_background | img_url: '900x' }}" backgroundimagesrc800="{{section.settings.section5_background | img_url: '800x' }}" backgroundimagesrc700="{{section.settings.section5_background | img_url: '700x' }}" backgroundimagesrc600="{{section.settings.section5_background | img_url: '600x' }}" backgroundimagesrc500="{{section.settings.section5_background | img_url: '500x' }}" backgroundimagesrc400="{{section.settings.section5_background | img_url: '400x' }}">

    <div style="padding-top:60px;width:90%;margin-left:5%;">
      <div class="grid">
        <div class="grid__item large--one-sixth"></div>
      {% for slide in section.blocks limit: section.blocks.size %}
      
      <div class="grid__item large--one-twelfth medium--one-sixth small--one-third">
        {% if slide.settings.empty_corporate_partner == false %}
       	 {% if slide.settings.corporate_partners_link %}
       	 	<a href="{{slide.settings.corporate_partners_link}}">
          {% endif %}
          <img class="javascript-load-image" style="width:100%;" imagebasesrc50="{{slide.settings.corporate_partners | img_url: '50x' }}" imagebasesrc100="{{slide.settings.corporate_partners | img_url: '100x' }}">
        {% if slide.settings.corporate_partners_link %}
        </a>
        {% endif %}
        {% endif %}
        </div>
      {% endfor %}
        <div class="grid__item large--one-sixth"></div>
      </div>
    </div>
  </div>
<style>
  .bt-testimonial-brands{
  	background-size: cover;
    background-image:url({{section.settings.section5_background | img_url: '1200x' }});
    background-position-y:20%;
  }
</style>
{{ 'autofit_images.js' | asset_url | script_tag }}

{% schema %}
{
"name":"bt-testimonial-brands",
"class":"bt-testimonial-brands",
"max_blocks":8,
"settings":[
{
"type":"image_picker",
"id":"section5_background",
"label":"Section Background Image",
"info":"This is the background image for the section"
}
],
"blocks":[
{
"type":"header",
"name":"Corporate Partners",
"settings":[
{
"type":"image_picker",
"id":"corporate_partners",
"label":"Corporate Partners",
"info":"Image showing the logo of one of Blendtec's corporate partners"
},
{
"type": "url",
"id": "corporate_partners_link",
"label": "Link to corporate partner"
},
{
"type":      "checkbox",
"id":        "empty_corporate_partner",
"label":     "Empty Space",
"default":   false,
"info":      "If checked it will have this space be empty, this may help with spacing issues"
}
]
}
],
    "presets": [
      {
        "name": "bt-testimonial-brands",
        "category": "Image"
      }
    ]
}
{% endschema %}


