
<div class="compare-blender">
<script>
  var standardize_cell_size = function(){};
</script>

<div style="display:none;" onclick="exitPopup()" id="popupBackground"></div>

<div id="thePopUp" class="exit-intent-overlay">
  <section class="exit-intent inline-subscribe  ">
    <div class="display-table-cell exit-intent__content">
<button onclick="exitPopup()" type="button" id="exitButton" class="close product-comparison--close" data-dismiss="modal" aria-hidden="true">
<i class="fa fa-times" style="position:fixed;" aria-hidden="true"></i>
</button>

<div>
  <img id="zoomInProduct" style="width:100%;">
</div>
<div>
  <img id="zoomInPanel">
</div>
<div>

</div>
    </div>
  </section>
</div>
<div class="full-width layout wrap product-comparison--bg-image">
      <div class="row-fluid top-level head-image">
        <div class="col-md-12 product-comparison--header-container">
          <h1 class="product-comparison--leader">{{ section.settings.product_compare_title }}</h1>
          <h2 class="product-comparison--sub-leader">{{ section.settings.product_compare_title_2 }}</h2>
        </div>
      </div>
    </div>

<div class="product-wrapper">
<h3 class="header-top-spacing">{{ section.settings.product_row_1_title }}</h3>

<div class="grid product-table">

  {% for i in section.blocks %}
    {% if i.type == 'products-1' %}
      {% assign product_name = i.settings.product_id | text  %}
      {% include 'product-to-compare' %}
    {% endif %}
  {% endfor %}
</div>



<h3 class="header-top-spacing">{{ section.settings.product_row_2_title }}</h3>

<div class="grid product-table">

  {% for i in section.blocks %}
    {% if i.type == 'products-2' %}
      {% assign product_name = i.settings.product_id | text  %}
      {% include 'product-to-compare' %}
    {% endif %}
  {% endfor %}
</div>


</div>
</div>

<style>
  .product-comparison--bg-image{
    background-image: url('{{ section.settings.top_image | img_url: '1000x' }}}');
  }


</style>
  {{ 'product-compare.scss.css' | asset_url | stylesheet_tag }}
  {{ 'compare-blender.js' | asset_url | script_tag }}

{% schema %}
{
"name":"bt-compare-products",
"class":"bt-compare-products",
"max_blocks":20,
"settings":[
{
"type":"text",
"id":"product_compare_title",
"label":"Product Compare Title",
"default":"COMPARE AVAILABLE MODELS"
},
{
"type":"text",
"id":"product_compare_title_2",
"label":"Product Compare Title Secondary",
"default":"FIND THE ONE THAT'S RIGHT FOR YOU"
},
{
"type":"image_picker",
"id":"top_image",
"label":"Top Image"
},
{
"type":"text",
"id":"product_row_1_title",
"label":"Product Row 1 Title",
"default":"Products"
},
{
"type":"text",
"id":"product_row_2_title",
"label":"Product Row 2 Title",
"default":"Certified Refurbished"
}
],
"blocks":[
{
"type":"products-1",
"name":"compare-product-1",
"settings":[
{
"type":"text",
"id":"product_id",
"label":"Product Id",
"info":"Name of product you want to display. So for the url 'https://blendtec.myshopify.com/products/classic-575' what you want to input is 'classic-575'."
}
]
},
{
"type":"products-2",
"name":"compare-product-2",
"settings":[
{
"type":"text",
"id":"product_id",
"label":"Product Id",
"info":"Name of product you want to display. So for the url 'https://blendtec.myshopify.com/products/classic-575' what you want to input is 'classic-575'."
}
]
}
],
    "presets": [
      {
        "name": "compare-blender",
        "category": "Image"
      }
    ]
}
{% endschema %}