<div class="bt-image-with-text javascript-load-image" numBlocks="{{section.blocks.size}}" typeImage="backgroundimagesrc" {% for i in section.blocks %} {% assign placement=forloop.index %} {% for y in (1..4) %} {% assign imageSize=y | times: 200 | downcase | append: 'x' %} {{placement}}backgroundimagesrc{{ y | times: 200 }}="{{i.settings.section2_imagebackground | img_url: imageSize }}" {% endfor %} {% endfor %}>
    {% if section.settings.image_orientation == 'one' %}
        <div class="grid" style="max-width:1200px;margin:auto;">
            <div class="grid__item">
                <div class="grid">

                    <div class="grid__item large--one-half">
                        <div class="section-two-image-wrapper">
                            <img class="section2-image javascript-load-image" numBlocks="{{section.blocks.size}}" typeImage="imagebasesrc" {% for i in section.blocks %} {% assign placement=forloop.index %} {% for y in (1..4) %} {% assign imageSize=y | times: 200 | downcase | append: 'x' %} {{placement}}imagebasesrc{{ y | times: 200 }}="{{i.settings.section2_image | img_url: imageSize }}" {% endfor %} {% endfor %}>
                        </div>
                    </div>
                    {% for i in section.blocks %}
                        <div class="show-block-{{forloop.index}}" style="display:none;">
                            <div class="grid__item large--one-half">
                                <div class="section2-text">
                                    <h2 class="section2-h2" style="color:{{i.settings.header_color}}">{{i.settings.header}}</h2>
                                    <div style="color: {{i.settings.text_color}}">{{i.settings.text}}</div>
                                    {% include 'cta-text' with text: i.settings.cta_text, url: i.settings.cta_link, text_color: i.settings.cta_text_color%}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    {% endif %} {% if section.settings.image_orientation == 'two' %}
        <div class="grid" style="max-width:1200px;margin:auto;">
            <div class="grid__item">
                <div class="grid">

                    {% for i in section.blocks %}
                        <div class="show-block-{{forloop.index}}" style="display:none;">
                            <div class="grid__item large--one-half">
                                <div class="section2-text">
                                    <h2 class="section2-h2" style="color:{{i.settings.header_color}}">{{i.settings.header}}</h2>
                                    <div style="color:{{i.settings.text_color}}">{{i.settings.text}}</div>
                                    {% include 'cta-text' with text: i.settings.cta_text, url: i.settings.cta_link, text_color: i.settings.cta_text_color%}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="grid__item large--one-half">
                        <div class="section-two-image-wrapper">
                            <img imagebasesrc200="{{section.settings.section2_image | img_url: '200x' }}" imagebasesrc300="{{section.settings.section2_image | img_url: '300x' }}" imagebasesrc400="{{section.settings.section2_image | img_url: '400x' }}" imagebasesrc500="{{section.settings.section2_image | img_url: '500x' }}" imagebasesrc600="{{section.settings.section2_image | img_url: '600x' }}" imagebasesrc700="{{section.settings.section2_image | img_url: '700x' }}" imagebasesrc800="{{section.settings.section2_image | img_url: '800x' }}" class="section2-image javascript-load-image">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    {% endif %}
</div>
<style>
    .section2-text{
    margin: 100px 0px 100px -30px;
    max-width:600px;
  }
  .section2-text{
    margin: 100px 0px 100px -30px;
    max-width:600px;
  }

  .section2-h2{
      font-size: 45px;
  }
  .section-two-image-wrapper{
    margin-left:-30px;
  }
  .section2-image{
    max-width:140%;
    width:130%;
    margin-top:-15%;
    margin-bottom:-15%;
    position:relative;
    z-index:3;
  }
  .shopify-section{
    position:static !important;
  }
  .bt-image-with-text{
    background-size:60%;
    background-position-y:50%;
    background-repeat:no-repeat;
  }


@media screen and (max-width: 1199px) { /*medium 991width*/

  .section2-image{
    width:120%;
    margin-top:-10%;
    margin-bottom:-10%;
  }
}

@media screen and (max-width: 991px) { /*small - 767width*/

  .section-two-image-wrapper{
    margin-top:15px;
    position:initial;
  }
  .section2-image{
    width:100%;
    margin-top:0%;
  }
  .section2-h2{
    font-size:45px;
  }
}

  @media screen and (max-width: 848px) {

  .section2-text{
    margin: 50px 0px 100px -15px;
  }

  .bt-image-with-text{
    background-size:100%;
    background-position-y:0%;
  }

  }


@media screen and (max-width: 768px) { /*xsmall - 600width*/


  .small-left-padding{
    padding-left:45px;
  }
}

@media screen and (max-width: 600px) { /*xxsmall - 400width*/

  .section2-h2{
    font-size:30px;
  }
}

</style>

{% schema %}
{
"name":"bt-image-with-text",
"class":"section2",
"max_blocks":9,
"settings":[
{
"type":      "radio",
"id":        "image_orientation",
"label":     "Image/text vs Text/image",
"options": [
{ "value": "one", "label": "Image/text" },
{ "value": "two", "label": "Text/image" }
],
"default":   "one",
"info":      "This determines the orientation of this section"
}
],
"blocks":[
{
"type":"header",
"name":"section2",
"settings":[
{
"type":"image_picker",
"id":"section2_image",
"label":"Section2 Image",
"info":"This will overlap the sections above and below"
},
{
"type":"image_picker",
"id":"section2_imagebackground",
"label":"Section2 Image Background",
"info":"This is the background of the section image"
},
    {
        "type":"text",
        "id":"header",
        "label":"Section 2 Headline",
        "default":"UNBEATABLE.<br>YOU KNOW THE FEELING."
    },
    {
        "type": "color",
        "id": "header_color",
        "label": "Header Color",
        "default": "#000000"
    },
    {
        "type":"text",
        "id":"text",
        "label":"Text",
        "default":"Downtime — a nice thought but it's not on your radar. You have goals: break records, leap buildings, scale all new heights, and be at the top of your game. Secret weapons work for some people, but what you need are tools drive as hard as you do. Today's great, but wait to see what happens tomorrow."
    },
    {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#000000"
    },
    {
        "type":"text",
        "id":"cta_text",
        "label":"Section2 Link Text",
        "default":"LEARN MORE"
    },
    {
       "type": "color",
       "id": "cta_text_color",
       "label": "CTA Color",
       "default": "#ed1b2c"
    },
    {
       "type": "url",
       "id": "cta_link",
       "label": "CTA Link"
    }]
}
],
    "presets": [
      {
        "name": "bt-image-with-text",
        "category": "Image"
      }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
