<!-- /templates/recipe-blog.liquid -->
{% paginate blog.articles by 12 %}
    <div class="grid--full">
        {% if section.settings.header_img %}
            <header class="section-header
                {% if section.settings.header_img %}
                    section-header--image"
                    style="background-image: url({{ section.settings.header_img | img_url: '1440x'}})"
                {% else %}
                   "
                {% endif %}>
                <div class="text-center content-wrapper--horizontal section-header">
                    <div class="display-table-cell">
                        {% if current_tags %}
                            <h1 style="color: {{ section.settings.color_text }}">
                                {{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}
                                <a href="{{blog.url}}.atom">
                                    <span aria-hidden="true" class='icon icon-rss'></span>
                                </a>
                            </h1>
                        {% else %}
                            <h1 style="color: {{ section.settings.color_text }}">{{ blog.title }}
                                <a href="{{blog.url}}.atom">
                                    <span aria-hidden="true" class='icon icon-rss'></span>
                                </a>
                            </h1>
                        {% endif %}
                    </div>
                </div>
            </header>
        {% else %}
            <div class="grid__item large--two-thirds push--large--one-sixth">
                <div class="text-center content-wrapper--horizontal section-header">
                    <div class="display-table-cell">
                        {% if current_tags %}
                            <h1>
                                {{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}
                                <a href="{{blog.url}}.atom">
                                    <span aria-hidden="true" class='icon icon-rss'></span>
                                </a>
                            </h1>
                        {% else %}
                            <h1>
                                {{ blog.title }}
                                <a href="{{blog.url}}.atom">
                                    <span aria-hidden="true" class='icon icon-rss'></span>
                                </a>
                            </h1>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="blog-filters-wrapper has-border">
                {% assign theTagsToSearch = blog.all_tags %}
                {% assign baseUrlTag = blog.title | downcase %}
            <div class="grid">
                {% include 'breadcrumb' %}
            </div>
            <div class="grid">{% include 'recipe-search' %}</div>
        </div>
        <div class="grid__item grid--full large--one-whole" data-grid-subpixel itemscope itemtype="http://schema.org/ItemList">
            {% for article in blog.articles %}
                {% assign remainder = forloop.index0 | modulo:3 %}
                <meta itemprop="position" content="{{forloop.index0}}" />
        
                {% if article.image.size >= 1 %}
                    {% assign src = article.image | img_url: 'master' %}
                {% else %}
                    {% assign src = false %}
                {% endif %}
        
                <div class="grid__item large--one-third medium--one-half small--one-whole" data-grid-item itemprop="itemListElement" itemscope itemtype="http://schema.org/Recipe">
                    {% if src %}
                        <a itemprop="url" href="{{article.url}}">
                            <div class="featured-blog__image-wrapper">
                                <div class='featured-blog__image'>
                                    <span class="image-wrapper">
                                      <img src="{{ src }}" itemprop="image"/>
                                    </span>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                    <div class="featured-blog__caption small--text-center text-wrapper">
                        <meta itemprop="recipeCategory" content="{{article.tags.first}}" />
                        <meta itemprop="recipeCuisine" content="{{article.tags.first}}" />
                        <meta itemprop="keywords" content="{{article.tags | join: ', '}}" />
                        <meta itemprop="author" content="{{article.author}}" />
                    
                        {% if section.settings.show_date %}
                            <p class="meta-info" itemprop="datePublished">{{article.published_at | date: "%B %d, %Y"  }}</p>
                        {% endif %}
                    
                        <a  itemprop="url" href="{{article.url}}"><h4 class='featured-blog__title' itemprop="name">{{article.title | upcase}}</h4></a>
                    
                        {% if section.settings.show_recipe_author %}
                            <p class="author" itemprop="author">{{'blogs.article.author_by_html' | t: author : article.author }}</p>
                        {% endif %}
                    
                        <span class="excerpt">{{article.excerpt_or_content}}</span>
                    
                        <p class='blog-info'>
                            <a href="{{ article.url }}">{{ 'blogs.article.read_more' | t | upcase}}
                                <i class="fa fa-angle-right"></i>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </p>
                        <ul class="inline-list blog-info">
                            {% if blog.comments_enabled? and section.settings.show_comment_number %}
                                <li>
                                    <a href="{{ article.url }}#Comments">
                                        {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    
                        {% if section.settings.show_tags? %}
                            <span class="blog-info" itemprop="keywords">
                                {% include 'tags-article' %}
                            </span>
                        {% endif %}
                    </div>
                </div>
                {% if remainder == 2 %}
                    {% comment %}We want to manually break rows after 3.{% endcomment %}
                    <div class="clearfix medium-down--hide"></div>
                {% endif %}
            {% endfor %}
            {% if paginate.pages > 1 %}
                <hr>
                <div class="pagination">
                    {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
                </div>
            {% endif %}
        </div>
    </div>
{% endpaginate %}
{% schema %}
{
    "name": "Recipe Blog",
    "settings": [
    {
        "type": "checkbox",
        "id": "show_recipe_author",
        "default": false,
        "label": "Show author"
    },
    {
    "type": "checkbox",
    "id": "show_tags",
    "default": true,
    "label": "Show tags"
    },
    {
    "type": "checkbox",
    "id": "show_comment_number",
    "default": true,
    "label": "Show Comment Preview"
    },
    {
    "type": "checkbox",
    "id": "show_date",
    "default": true,
    "label": "Show Publish Date"
    },
    {
    "type": "image_picker",
    "id": "header_img",
    "label": "Header Image"
    },
    {
    "type": "color",
    "id": "color_text",
    "default": "#FFFFFF",
    "label": "Text color"
    }
    ]
}
{% endschema %}
